* {
  margin: 0;
}

.rce-citem:hover {
  background-color: #353839;
}
.rce-citem {
  background-color: #353839;
}
.rce-citem-body--top {
  color: #ffffff;
}
.rce-citem-body--bottom-title {
  color: #d0e6ff;
}
